*{
  list-style: none;
  resize: none;
  margin:0;
  padding:0;
}
em{
  margin-left:10px;
}
h3{
  font-size:14px;
  color:#1A5F6C;
  padding-left:30px;
}
thead{
  background:#F2F2F2 !important;
}
.body{
  background:#ECF0F5;
  min-height:921px;
}
.content{
  padding:15px;
}
/*主体部分*/
.box{
  border-top:3px solid #3c8dbc;
  border-radius:4px;
  background:white;
  padding:15px;
  position:relative;
}
/*每行*/
.row{
  border-bottom:1px solid #f4f4f4;
  padding:15px;
  display:flex;
  flex-wrap: wrap;
  justify-content:space-around;
  align-content:space-around;
}


/*巡店总览*/
.row-item{
  background:#F2F2F2;
  border-radius:5px;
  box-shadow: #0c0c0c 1px 1px 3px;
  padding:15px 30px 15px 50px;
  min-height:100px;
  margin-bottom:15px;
}
/*红色百分比*/
.redPercent{
  color:red;
  margin-right:10px;
  font-size:24px;
}
/*左边柱形图*/
.charts-bar{
  border:1px solid red;
  padding:10px;
  overflow:auto;
  border:1px solid #F2F2F2;
  box-shadow: #0c0c0c 1px 1px 3px;
  margin-bottom:20px;
}
/*右边表格*/
.table-right{
  border:1px solid #F2F2F2;
  box-shadow: #0c0c0c 1px 1px 3px;
}
.el-table .even-row {
  background: #ADADAD;
}
.is-leaf{
  color:#1A5F66 !important;
}
.table-select{
  padding:20px 0 20px 0;
  border-bottom:1px solid gray;
  display:flex;
  justify-content:space-between;
  flex-wrap:wrap;
}
.table-select>label{
  line-height:35px;
}


/*巡店计划*/
.header-btn{
  margin:15px auto;
  width:95%;
  display:flex;
  flex-wrap:nowrap;
}
.header-btn>button{
  width:50%;
  height:51px;
  color:#29C7C6;
  background:white;
  border:1px solid #29C7C6;
  outline:none;
}
.clicked{
  background:#29C7C6 !important;
  color:white !important;
}
/*巡店表格*/
.table-plan{
  border:1px solid #C9C9C9;
}
.demo-table-expand {
  font-size: 0;
}
.demo-table-expand label {
  width: 90px;
  color: #99a9bf;
}
.demo-table-expand .el-form-item {
  margin-right: 0;
  margin-bottom: 0;
  width: 50%;
}

/*视频监控*/
.patrol-video{
  background:black;
  height:400px;
}

/*巡店表单列表*/
.patrol-form{
  width:75%;
  margin:0 auto;
}

/*新建巡店表单*/
.create-form{
  border:1px solid #C9C9C9;
  box-shadow:#C9C9C9 3px 3px 3px;
  padding:20px 10% 20px 10%;
  border-radius:4px;
}
.form-label{
  margin:20px 7% 20px 7%;
}
.form-input{
  -webkit-appearance: none;
  background-color: #fff;
  background-image: none;
  border-radius: 4px;
  border: 1px solid #dcdfe6;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: #606266;
  display: inline;
  font-size: inherit;
  height: 40px;
  line-height: 40px;
  outline: 0;
  padding: 0 15px;
  -webkit-transition: border-color .2s cubic-bezier(.645,.045,.355,1);
  transition: border-color .2s cubic-bezier(.645,.045,.355,1);
  width:70%;
}
.add-type-form{
  display:inline-block;
  width:70%;
  vertical-align: text-top;
}
.el-form-item__content{
  margin:0 !important;
}
/*添加按钮*/
.add-btn{
  font-size:25px;
  color:#67C23A;
  cursor:pointer;
}
.add-btn:hover{
  opacity:0.7;
  transform:scale(1.2);
}
.el-textarea__inner{
  width:100%;
}
.el-textarea{
  width:70% !important;
}
.red-text{
  color:red;
}
.green-text{
  color:#29C7C6;
}

/*巡店计划管理*/
.btn-green{
  background:#29C7C6;
  color:white;
  padding:8px 25px 8px 25px;
  border:none;
  border-radius:5px;
  outline:none;
}
.btn-transparent{
  background:white;
  color:#29C7C6;
  padding:8px 25px 8px 25px;
  border:none;
  outline:none;
}
.btn-green:hover,.btn-transparent:hover{
  opacity:0.7;
}
.list-title{
  padding:10px 25px 10px 25px;
  background:#29C7C6;
  color:white;
  width:160px;
}
.box-item{
  padding:15px 8% 15px 8%;
}
